@mixin common-view-content {
  .root-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: ". . .";
    margin-bottom: 77px;
    .blur {
      filter: blur(4px);
    }
  }
}
